.skill {
    width: 80px;
    height: 80px;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    transform: rotate(45deg);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    flex-wrap: nowrap;
}
.icon {
    width: 60px;
    height: 60px;
    background-color: slategrey;
    display: flex;
    justify-content: center;
    align-items: center;
}