@import './src/components/common/styles/sass/variables.scss';
@import './src/components/common/styles/sass/mixins.scss';

.burgerNav{
    width: 100%;
    height: 100%;
    .burgerNavItems {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        @include flex(column, space-between, center, nowrap);
        background-color: #252527;
        height: 0;
        padding: 20px;
        transform: translate(0, -150px);
        transition: 0.7s;
        a {
            @include text($titleFontFamily, 16px, 1.2, 400);
            color: $textColor;
            cursor: pointer;
            text-decoration: none;
            &:hover {
                text-decoration: none;
                color: $primaryColor;
            }
        }
    }
    .show {
        transform: translate(0, 0);
        height: 150px;
    }

    .wrapperBtn {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .hamburgerIcon {
            height: 7px;
            width: 50px;
            position: absolute;
            top: 12px;
            right: 20px;
            left: 140px;
            border-radius: 25px;
            background-color: #569384;
            transform: translate(-50%, -50%) rotate(0deg);
            transition: all ease 0.5s;
            cursor: pointer;

            &::before, &::after {
                content: "";
                position: absolute;
                height: inherit;
                border-radius: inherit;
                background-color: inherit;
                margin: auto;
                width: 50%;
                transition: all ease 0.5s;
            }

            &::before {
                top: -20px;
                left: 0;
                transform-origin: left;
            }

            &::after {
                bottom: -20px;
                right: 0;
                transform-origin: right;
            }
        }

        .hamburgerIconOpen {
            height: 7px;
            width: 50px;
            position: absolute;
            top: 12px;
            right: 20px;
            left: 140px;
            border-radius: 25px;
            background-color: $primaryColor;
            transform: translate(-50%, -50%) rotate(135deg);
            cursor: pointer;
            &::before,&::after{
                content:"";
                position: absolute;
                height: inherit;
                border-radius: inherit;
                background-color: inherit;
                margin: auto;
                width: 50%;
                transition: all ease 0.5s;
            }
            &::before {
                top: 0;
                transform: translateX(100%) rotate(-90deg);
                transform-origin: left;
            }
            &::after {
                bottom: 0;
                right: 0;
                transform: translateX(-100%) rotate(-90deg);
                transform-origin: right;
            }
        }
    }
    @media screen and (min-width: 400px) {
        display: none;
    }
}